{% extends '../base.html' %}
{% load static %}

{% block title %}Login de Paciente{% endblock %}

{% block content %}
<div class="form-center-container">
    <div class="form-card">
        <h2>Login de Paciente</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
        <p class="form-link">Não tem uma conta? <a href="{% url 'pacienteurl' %}">Cadastre-se aqui</a></p>
    </div>
</div>
{% endblock %}