{% extends '../base.html' %} 

{% load static %}

{% block title %}Bem-vindo!{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<section class="hero-section">
<div class="hero-content">
<h2>Sua saúde, nossa prioridade.</h2>
<p>Oferecemos cuidados de alta qualidade com foco na sua saúde e bem-estar.</p>
<div class="hero-buttons">
<a href="{% url 'paciente_login' %}" class="btn btn-primary">Sou Paciente</a>
<a href="{% url 'medico_login' %}" class="btn btn-secondary">Sou Médico</a>
</div>
</div>
</section>
{% endblock %}