{% extends '../base.html' %}
{% load static %}

{% block content %}
<h2>Seus Pacientes para Hoje</h2>
{% if pacientesDoDia %}
<ul>
    {% for agendamento in pacientesDoDia %}
    <li>
        <strong>{{ agendamento.horario.hora }}</strong> - {{ agendamento.paciente.user.email }}
        <span style="color: gray;">({{ agendamento.get_status_display }})</span>
        {% if agendamento.status == 'pendente' %}
            <a href="{% url 'marcar_concluido' agendamento.id %}">Marcar como concluído</a>
        {% elif agendamento.status == 'concluido' %}
            <span style="color: green;">✔ Concluído</span>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Nenhum paciente agendado para hoje.</p>
{% endif %}

<hr>

<h3>Definir Horário de Atendimento</h3>
<form method="post">
    {% csrf_token %}
    <label for="dia">Dia:</label>
    <input type="date" name="dia" required>
    <label for="hora">Hora:</label>
    <input type="time" name="hora" required>
    <button type="submit">Adicionar</button>
</form>

<hr>

<h3>Seus Horários Cadastrados</h3>
<ul>
    {% for horario in horariosDisponiveis %}
    <li>{{ horario.dia }} às {{ horario.hora }} {% if not horario.disponibilidade %}(Agendado){% endif %}</li>
    {% endfor %}
</ul>

{% endblock %}
